
<div class="m-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a href="#" class="navbar-brand">STUDENT <span style="color: indianred;">App</span></a>&nbsp;&nbsp;
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse1">
              <div class="navbar-nav">
   
                  
                  <a href="#" class="nav-item nav-link" routerLink="update"routerLinkActive="active">Update</a>
                  <a href="#" class="nav-item nav-link" routerLink="list"routerLinkActive="active">List</a>
                  <a href="#" class="nav-item nav-link" routerLink="register"routerLinkActive="active">Register</a>
                  <a href="#" class="nav-item nav-link" routerLink="login" routerLinkActive="active">Login</a>
              </div>
              <form class="d-flex ms-auto">
                  <input type="text" class="form-control me-sm-2" placeholder="Search">
                  <button type="submit" class="btn btn-outline-light">Search</button>
              </form>
          </div>
      </div>
  </nav>
<router-outlet></router-outlet>

