<div class="container">
    <div class="content">
      <h1>Welcome to <span style="color: brown; font-weight: 800;">Student</span> Management App</h1>
      <div class="welcome-message">
        <h1>Welcome to Our Learning Community</h1>
        <p>We are delighted to have you as part of our student group. This is a place where knowledge meets opportunity, and your journey to success begins.</p>
        <p>Explore, learn, and make the most of your time here. Our dedicated faculty and staff are here to support you every step of the way.</p>
        <p>Feel free to reach out if you have any questions or need assistance. Together, let's make this experience unforgettable.</p>
      </div>
    </div>
    <footer>
      <p>&copy; 2023 College Management</p>
    </footer>
  </div>
  